.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.head{
    color: var(--yellow);
    font-size: xxx-large;
    font-weight: 700;
    text-shadow: 2px 2px 2px var(--foreground);
}

.desc{
    color: var(--onhover);
    margin-bottom: 3rem;
}