/* .nav{
    position: sticky;
    width: 100vw;
} */

.navbar{
    background-color: rgb(224 225 225);

    display: flex;
    justify-content: center;
    align-items: center;
    padding:  1rem;
    font-weight: 600;
}

.logo{
    margin-right: auto;
    font-size: x-large;
    background-color: var(--yellow);
    color: var(--background);
    padding: 0 10px;
    border-radius: 20px;
}

.navitem{
    margin: 0 .5rem;
}

.signin{
    margin-left: auto;
}

.btn{
    position: fixed;
    bottom: 10px;
      right: 10px;
      padding: 10px 20px;
      background-color: red;
      color: var(--background);
      border-radius: 20px;
      font-weight: 800;
      z-index: 100;
}