.navbar{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:  1rem;
    font-weight: 600;
}

.logo{
    margin-right: auto;
}

.navitem{
    margin: 0 .5rem;
}

.signin{
    margin-left: auto;
}

